/* TB-303 Specific Styles */
.grid-cols-16 {
    grid-template-columns: repeat(16, minmax(0, 1fr));
}

/* Custom Scrollbar for Sequencer */
::-webkit-scrollbar {
    height: 4px;
    width: 4px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #444;
}